<div class="overlay">
    <section id="photo" class="d-flex flex-column justify-content-center">
        <div class="container"></div>
    </section>
</div>
<div class="center">
    <section class="hero has-background-white">
        <div class="hero-body">
            <div class="columns">
                <div class="column is-half">
                    <table class="table is-hoverable is-fullwidth">
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <figure class="image has-text-centered is-3by2">
                                        <img src="../../assets/images/background3.jpg">
                                    </figure><br>
                                </td>
                            </tr>

                            <tr>
                                <th>Vehicle</th>
                                <td>vehicle123</td>
                            </tr>
                            <tr>
                                <th>Start address</th>
                                <td>address</td>
                            </tr>
                            <tr>
                                <th>Current duration</th>
                                <td>0</td>
                            </tr>
                            <tr>
                                <th>Current cost</th>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>
                                    <button mat-raised-button color="primary">
                                        Finish rent
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="column is-half">
                    <figure class="image is-square is-fullwidth">
                        <img src="../../assets/images/map_example.png">
                    </figure>
                </div>
            </div>
        </div>
    </section>
</div>