<div id="basics">
  
  <mat-toolbar color="primary" class="navbar">

    <button mat-button style="font-size: 16px;"  (click)="editProfile(user.username)" class="button-header">Edit profile</button>
    <button mat-button style="font-size: 16px;" [routerLink]="['../available-cars']">Rent a Car</button>
    <button mat-button style="font-size: 16px;" [routerLink]="['']">Rent History</button>
    <button style="font-size: 16px;" mat-button (click)='logOut()'>Log out</button>
    <span class="spacer"></span>
    
</mat-toolbar>
  </div>
 
  

  <mat-card class="example-card" >
    <h1>{{user.firstName + ' ' + user.lastName}}</h1>
     
    <mat-card-content style="margin-left: 1%"> 
      
          <mat-form-field appearance="legacy" style="width: 100%">
            <mat-card>First name: {{user.firstName}}</mat-card>
            <mat-card>Last name: {{user.lastName}}</mat-card>
            <mat-card>Username:{{user.username}}</mat-card>
            <mat-card>Email: {{user.email}}</mat-card>
          </mat-form-field>
          

    
      </mat-card-content> 
  
  </mat-card>